{% extends 'base.html' %}
{% block content %}
<h1>SHOPAHOLIC</h1>

<h5>STORE: </h5>
<p>{{ store }}<p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

{% if not product_entries %}
<p>Belum ada data produk pada shopaholic</p>
{% else %}
<table>
  <tr>
    <th>nama_produk</th>
    <th>deskripsi</th>
    <th>harga</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.nama_produk}}</td>
    <td>{{product_entry.deskripsi}}</td>
    <td>{{product_entry.harga}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add new product entry</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}